<!-- <div class="footer">
    <div class="heading">
      <h2>MTX Insurance<sup>&trade;</sup></h2>
    </div>
    <div class="content">
      <div class="services">
        <h4>Services</h4>
        <p><a href="#">Life Insurance</a></p>
        <p><a href="#">Health Insurance</a></p>
        <p><a href="#">Term Plan</a></p>
      </div>
      <div class="social-media">
        <h4>Connect</h4>
        <p>
          <a href="#"
            ><i class="fab fa-facebook">&nbsp;</i>Facebook</a
          >
        </p>
        <p>
          <a href="#"
            ><i class="fab fa-twitter">&nbsp;</i>Twitter</a
          >
        </p>
        <p>
          <a href="#"
            ><i class="fab fa-instagram">&nbsp;</i>instagram</a
          >
        </p>
      </div>
      <div class="links">
        <h4>Quick links</h4>
        <p><a href="#">Home</a></p>
        <p><a href="#">About</a></p>
        <p><a href="#">Blogs</a></p>
        <p><a href="#">Contact</a></p>
      </div>
      <div class="details">
        <h4 class="address"><u>Address</u></h4>
        <p>
          Octave-8 building <br />
          Hyderabad, India
        </p>
        <h4 class="mail"><u>Email</u></h4>
        <p><a href="#">gyan.prakash@mtxb2b.com</a></p>
      </div>
    </div> -->
    <footer class="font-weight-bold">
      <hr />
      &copy; MTX Inc.
    </footer>
